<section class="section">
  <h1 class='title is-1 has-text-centered'>About me</h1>
  <div class='columns is-centered'>
    <div class='column is-6'>
      <div class='content is-large'>

        <p><span class="is-size-1">I</span>'m someone who's had an interest in coding since I was a teenager, which helped me as I studied CE at SBCC. School helped me develop research and communication skills, but working with my hands on-set and at warehouses have helped me develop work ethic and practical skills, which I use to tackle my projects head on. 
<br><span class="is-size-1">N</span>owadays my hobby expresses itself in many ways: by playing on the cloud, trying out new designs on my personal website or adding magic to it, and building a project as a way to learn unfamiliar tech. I'm sorta scatterbrained and so each project I've made, I was simultaneously learning a new framework or tool. 
<br><span class="is-size-1">I</span> love to learn and hack, so incentivize me and I'll get it built! Please give me reason to expand my skillset.
<br><span class="is-size-1">I</span> just want to work in the tech space. I love tech, researching and then applying those concepts, then observing the other ways people re-apply those concepts in a way that becomes a commentary and an art, and I love the community that surrounds that art.
        </p>
      </div>
    </div>
    <div class='column is-2'>
      <figure class='image is-1by2'><img src='https://cdn.glitch.com/bbddd762-d831-470f-8c95-c27f41782ecb%2FProfile_cropped.png?v=1561854682541'></figure>
    </div>
  </div>
</section>