<section class="section">
  <h1 class='title is-1 box glowing-border has-text-centered'>About me</h1>
  <div class='columns is-centered'>
    <div class='column is-6'>
      <div class='content box is-large glowing-border'>

        <p><span class="is-size-1">I</span>'m someone who's had an interest in coding since I was a teenager, which helped me as I studied CE at SBCC. School helped me develop research and communication skills, but working with my hands on-set and at warehouses have helped me develop work ethic and practical skills, which I use to tackle my projects head on. 
<br><span class="is-size-1">N</span>owadays my hobby expresses itself in many ways: by puting projects on the cloud, trying out new designs on my personal website, and building a project as a way to learn unfamiliar tech. I'm a quick study so each project I've made, I was simultaneously learning a new framework or tool. 
<br><span class="is-size-1">I</span> love to learn and hack, so incentivize me and I'll get it built! Please give me reason to expand my skillset.
        </p>
      </div>
    </div>
    <div class='column is-2'>
      <figure class='image is-1by2'>
        <picture>
                    <source type="image/webp" srcset="https://rosamint.org/images/BabeTommys.webp">
                    <source type="image/png" srcset="https://rosamint.org/images/BabeTommys.png">
                    <img src="https://rosamint.org/images/BabeTommys.png">
        </picture> 
      </figure>
    </div>
  </div>
</section>
