<section class="section">
  <h1 class='title is-1 has-text-centered'>About me</h1>
  <div class='columns is-centered'>
    <div class='column is-5'>
      <div class='content is-large'>

        <p>I'm a hobby programmer from the Los Angeles area. I've been coding on/off since I was a teenager. I am a Linux and Open Source
          enthusiast, enjoy exercising, and learning languages through meeting new people. I am proud to be the first in my
        family to have attended college, although that is on hold as I have decided that college isn't right for me at this time in my life. However college did
        leave a lasting impact on me through the inspirational people I got to meet, who were the hardest working and most disciplined
        adults I had met, that are now working for prestigious companies in the engineering field. I will always be reminded of them whenever I need to
        ask myself to 'try harder' and to never give up. </p>
      </div>
    </div>
    <div class='column is-2'>
      <figure class='image is-1by2'><img src='https://cdn.glitch.com/bbddd762-d831-470f-8c95-c27f41782ecb%2FProfile_cropped.png?v=1561854682541'></figure>
    </div>
  </div>
</section>