<section class="section">
    <ul class="steps">
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
        </li>
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
        </li>
</ul>
</section>