<section class="section">
    <ul class="steps">
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            2013-2017 SBCC
        </li>
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            2017 Smithsonian internship at SCBI
        </li>
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            2018 SB Musuem of Natural History
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            ??? Now
        </li>
</ul>
</section>