<section class="section">
    <ul class="steps has-content-centered">
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            <div class="steps-content">
                <p class="is-size-4">2013-2017 Santa Barbara City College</p>
            </div>
        </li>
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            <div class="steps-content">
                <p class="is-size-4">2017 Internship at Smithsonian Conservation of Biology Institute</div>
            </div>
        </li>
        <li class="steps-segment">
            <a href="#" class="steps-marker"></a>
            <div class="steps-content">
                <p class="is-size-4">2018 SB Musuem of Natural History</div>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <p class="is-size-4">??? Now</div>
            </div>
        </li>
</ul>
</section>