<section class="hero is-fullheight">
      <div class='hero-head'>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="level animate__animated animate__fadeInDown">
            <div class="level-item">
              <figure class="image is-128x128">
                <picture>
                  <source type="image/webp" srcset="https://rosamint.org/images/soda_logo.webp">
                  <source type="image/png" srcset="https://rosamint.org/images/soda_logo.png">
                  <img src="https://rosamint.org/images/soda_logo.png">
                </picture>
              </figure>
            </div>
          </div>
          <div class="level animate__animated animate__fadeInDown">
            <div class="level-item">
              <figure class="image is-128x128">
                <picture>
                  <source type="image/webp" srcset="https://rosamint.org/images/Square_Poloroid_Self.webp">
                  <source type="image/jpeg" srcset="https://rosamint.org/images/Square_Poloroid_Self.jpg">
                  <img class="is-rounded" src="https://rosamint.org/images/Square_Poloroid_Self.jpg">
                </picture>
              </figure>
            </div>
          </div>
          <p class="title is-1 is-family-code has-text-white-ter">
          Learning the <mark class='has-background-aqua animate__animated animate__fadeInDown'>cloud</mark>
          </p>
          <p class="subtitle is-3 has-text-grey-lighter">
            Hola, me llamo Alex. I'd 💖 to build your <mark class='has-background-aqua animate__animated animate__fadeInDown'>webapp</mark> or <mark class='has-background-aqua animate__animated animate__fadeInDown'>site</mark>
          </p>
          
          <div class="level">
              <div class="level-item">
                {% include "social-media-buttons.njk" %}
              </div>
              <div class="level-item">
                <p class='has-background-dark has-text-light is-italic'>this site made using: <strong class='has-text-plum'>11ty</strong> <strong class='has-text-plum'>sass</strong> <strong class='has-text-plum'>nunjucks</strong> <strong class='has-text-plum'>netlify</strong></p>
              </div>
          </div>
        </div>
      </div>
      <a class=' is-fullwidth has-text-primary' href='#projects'>
        <div class='hero-foot has-text-centered'>
          <span class='icon is-large animated_button'>
            <i class="fas fa-5x fa-chevron-down"></i>
          </span>
        </div>
      </a>
    </section>