
<section class='section'>
{% for project in projects %}
  <div class="content box">
            <div class='columns is-gapless'>
              <div class="column is-4">
                <figure class="image is-2by1">
                  <img src={{project.photoLink}}>
                </figure>
              </div>
              <div class='column'>
                <div class='content'>
                  <h2 class="is-size-3"> {{project.title}} </h2>
                  <p class='is-size-5 has-text-weight-semibold'>
                  {{ project.description }}
                  </p>
                </div>
                <div class='level'>
                  <div class='level-item'>
                    <p class="is-italic">Made with <mark class='has-background-avocado'>
                      {{ project.madeWith.join(" ")}}
                    </mark>
                    </p>
                  </div>
                  <a href={{project.siteLink}} class='level-item'>
                    <span class="icon has-text-primary">
                      <i class="fas fa-external-link-alt fas"></i>
                    </span>
                  </a>
                  <a href={{project.sourceLink}} class='level-item'>
                    <span class="icon has-text-primary">
                      <i class="fas fa-file-code fas"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div class="column is-4">
                <figure class="image is-2by1">
                </figure>
              </div>
            </div>
  </div>
{% endfor %}
    </section>