
<section>
        
        <div class="level">
          <div class='level-item'>
            <div class='card' key="5">
              <div class='card-image'>
                <figure class="">
                  <img src="">
                </figure>
              </div>
              <div class='card-content'>
                <div class='content'>
                
                </div>
              </div>
              <div class='card-footer'>
                <div class='card-footer-item'>
                  <p>Made with <mark class='has-background-primary'> tag</mark></p>
                </div>
                <a href="" class='card-footer-item'>
                  <span class="icon has-text-primary">
                    <i class="fas fa-external-link-alt fas"></i>
                  </span>
                </a>
                <a href="" class='card-footer-item'>
                  <span class="icon has-text-primary">
                    <i class="fas fa-file-code fas"></i>
                  </span>
                </a>
              </div>
            </div>
          </div> 
          <div class='level-item'>
             
          </div> 
          <div class='level-item'>
             
          </div> 
        </div>
    </section>