<section class="section">
      <div class="box has-background-grey-dark">
        <h3 class="is-title is-size-3 has-text-primary animate__animated animate__lightSpeedInLeft">Skills</h3>
        <div class="tags are-large">
          {% for word in keywords.skillIcons%}
            <span class="icon is-large">
               <img src={{'https://cdn.jsdelivr.net/gh/devicons/devicon/icons' + word}} />
            </span>
          {% endfor %}
        </div>
        <br/>
        <h3 class="is-title is-size-3 has-text-avocado animate__animated animate__lightSpeedInLeft">Tools & Architecture</h3>
        <div class="tags">
        {% for word in keywords.toolIcons%}
          <span class="icon is-large">
            <img src={{'https://cdn.jsdelivr.net/gh/devicons/devicon/icons' + word}} />
          </span>
        {% endfor %}
        </div>
        <br/>
        <h3 class="is-title is-size-3 has-text-aqua animate__animated animate__lightSpeedInLeft">General Skills</h3>
        <div class="tags are-medium">
        {% for word in keywords.buzzwords %}
          <span class="tag is-aqua">
            {{word}}    
          </span>
        {% endfor %}
        </div>
      </div
    </section>