<div class="field is-grouped">
    <p class="control">
        <a class="button is-primary" href="https://github.com/BleedingEffigy">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
        </a>
    </p>
    <p class="control">
        <a class="button is-primary" href="https://twitter.com/bleedingeffigy">
            <span class="icon">
                <i class="fab fa-twitter"></i>
            </span>
            <span>Twitter</span>
        </a>
    </p>
    <p class="control">
        <a class="button is-primary" href="https://hashnode.com/@@phantomhaze">
            <span class="icon">
                <i class="fas fa-blog"></i>
            </span>
            <span>Hashnode</span>
        </a>
    </p>
</div>