<div class="buttons are-normal animate__animated animate__fadeInDown animate__delay-1s">
    <p class="control">
        <a class="button is-static">
            Contact me at: 
        </a>
    </p>
    <p class="control">
        <a class="button is-primary animated_button" href="https://github.com/BleedingEffigy">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
        </a>
    </p>
    <p class="control">
        <a class="button is-primary animated_button" href="https://www.linkedin.com/in/alexander-hernandez-813642123/">
            <span class="icon">
                <i class="fab fa-linkedin"></i>
            </span>
            <span>LinkedIn</span>
        </a>
    </p>
    <p class="control">
        <a class="button is-primary animated_button" href="https://twitter.com/bleedingeffigy">
            <span class="icon">
                <i class="fab fa-twitter"></i>
            </span>
            <span>Twitter</span>
        </a>
    </p>
    <p class="control">
        <a class="button is-primary animated_button" href="https://hashnode.com/@phantomhaze">
            <span class="icon">
                <i class="fas fa-blog"></i>
            </span>
            <span>Hashnode</span>
        </a>
    </p>
</div>