---
layout: layout.njk
title: The Best Demo
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Hernandezs Dev Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4ea44914ae.js"></script>
</head>
<body>
<a class="github-fork-ribbon" href="https://url.to-your.repo" data-ribbon="Fork me on GitHub" title="TS Security Clearance">TS Security Clearance</a>
  <section class="hero is-fullheight">
      <div class='hero-head'>
      </div>
      <div class="hero-body has-text-centered">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-2">
              <figure class="image is-4by3">
                <img src="/img/soda_logo.png">
              </figure>
            </div>
          </div>
          <div class="level">
            <div class="level-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="/img/Square_Poloroid_Self.jpg">
              </figure>
            </div>
          </div>
          <p class="title is-1 is-family-code">
          Build your <mark class='has-background-plum'>presence</mark> on the web
          </p>
          <p class="subtitle is-3">
            Hola, mi soy Alex. Let me make your <mark class='has-background-plum'>webapp</mark> or <mark class='has-background-plum'>site</mark>
          </p>
          
          <div class="level">
            <div class="level-left">
              {% include "social-media-buttons.njk" %}
            </div>
            <div class='level-right'>
              <p class='has-background-dark has-text-light is-italic'>this site made using: <strong class='has-text-plum'>11ty</strong> <strong class='has-text-plum'>sass</strong> <strong class='has-text-plum'>nunjucks</strong> <strong class='has-text-plum'>netlify</strong></p>
            </div>
          </div>
        </div>
      </div>
      <a class=' is-fullwidth has-text-primary' href='#projects'>
        <div class='hero-foot has-text-centered'>
          <span class='icon is-large'>
            <i class="fas fa-5x fa-chevron-down"></i>
          </span>
        </div>
      </a>
    </section>
    {% include "skills-banner.njk" %} 
    {% include "history-steps.njk" %}
    {% include "projects.njk" %}
</body>
</html>