---
layout: layout.njk
title: Alex Hernandez's Digital Balcony
---
{% include "landing-banner.njk" %} 
{% include "skills-banner.njk" %} 
{% include "projects.njk" %}
{% include "history-steps.njk" %}
{% include "about.njk" %}
</html>