---
layout: layout.njk
title: Alex Hernandez | Fullstack Developer, Webapp/React Developer, Product Designer, Digital Marketing
---
{% include "landing-banner.njk" %} 
{% include "skills-banner.njk" %} 
{% include "projects.njk" %}
{% include "about.njk" %}
</html>
