@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;
// import the two below to work with bulmas initial variables and functions
@import "/home/phantomhaze/Workspace/git/bulma/sass/utilities/initial-variables";
@import "/home/phantomhaze/Workspace/git/bulma/sass/utilities/functions";
$primary: #f4bebd; 
//harmonized white and grays below
$white: #FBEBEA;
$grey: #918080;
$grey-dark: #625251;

$family-sans-serif: "tahoma";
$family-primary: $family-sans-serif;
$family-secondary: "Didot";


//import the bottom to alter the $colors map
@import "/home/phantomhaze/Workspace/git/bulma/sass/utilities/derived-variables";

$plum: #8881b6;
$plum-invert: findColorInvert($plum);
$avocado: #CAFEBF;
$avocado-invert: findColorInvert($avocado);
$addColors: (
 "plum":($plum, $plum-invert),
 "avocado": ($avocado, $avocado-invert)
);
$colors: map-merge($colors, $addColors);

@import "/home/phantomhaze/Workspace/git/bulma/bulma.sass";
// @import "~bulma/sass/base/_all.sass";
// @import "~bulma/sass/components/card.sass";
// @import "~bulma/sass/components/level.sass";
// @import "~bulma/sass/components/modal.sass";
// @import "~bulma/sass/elements/content.sass";
// @import "~bulma/sass/elements/icon.sass";
// @import "~bulma/sass/elements/image.sass";
// @import "~bulma/sass/elements/tag.sass";
// @import "~bulma/sass/elements/title.sass";
// @import "~bulma/sass/elements/button.sass";
// @import "~bulma/sass/grid/_all.sass";
// @import "~bulma/sass/helpers/_all.sass";
// @import "~bulma/sass/layout/hero.sass";
// @import "~bulma/sass/utilities/_all.sass";

body{
  // background: linear-gradient(to right top, #bea279, #8881b6);
  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

html{
  scroll-behavior: smooth;
}
