@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;
// import the two below to work with bulmas initial variables and functions
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
$primary: #241856; 
//harmonized white and grays below
$white: #FBEBEA;
$grey: #918080;
$grey-dark: #625251;

$family-sans-serif: "tahoma";
$family-primary: $family-sans-serif;
$family-secondary: "Didot";


//import the bottom to alter the $colors map
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

$plum: #8881b6;
$plum-invert: findColorInvertu($plum);
$avocado: #CAFEBF;
$avocado-invert: findColorInvert($avocado);
$aqua: #4EC99C;
$aqua-invert: findColorInvert($avocado);
$pink: #ae247b;
$pink-invert: findColorInvert($pink);
$addColors: (
 "plum":($plum, $plum-invert),
 "avocado": ($pink, $pink-invert),
 "aqua": ($pink, $pink-invert)
);
$colors: map-merge($colors, $addColors);

@import "../node_modules/bulma/bulma.sass";
// @import "~bulma/sass/base/_all.sass";
// @import "~bulma/sass/components/card.sass";
// @import "~bulma/sass/components/level.sass";
// @import "~bulma/sass/components/modal.sass";
// @import "~bulma/sass/elements/content.sass";
// @import "~bulma/sass/elements/icon.sass";
// @import "~bulma/sass/elements/image.sass";
// @import "~bulma/sass/elements/tag.sass";
// @import "~bulma/sass/elements/title.sass";
// @import "~bulma/sass/elements/button.sass";
// @import "~bulma/sass/grid/_all.sass";
// @import "~bulma/sass/helpers/_all.sass";
// @import "~bulma/sass/layout/hero.sass";
// @import "~bulma/sass/utilities/_all.sass";

body{
  // background: linear-gradient(to right top, #bea279, #8881b6);
  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  //background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
	background: rgb(185,182,193);
	background: linear-gradient(0deg, rgba(185,182,193,1) 0%, rgba(62,36,91,1) 25%, rgba(52,38,97,1) 38%, rgba(30,40,80,1) 47%, rgba(34,13,38,1) 50%, rgba(211,211,213,1) 51%, rgba(211,211,213,1) 52%, rgba(47,86,144,1) 80%, rgba(36,24,86,1) 100%); 
}


html{
  scroll-behavior: smooth;
}

.animated_button{
  transition: 0.8s;
}

// Base
.gh-ribbon {
	font-family: Helvetica, Arial, sans-serif;
	width: 650px;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding: 15px;
	text-decoration: none;
	position: fixed;
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 1000;
}

// Borders
.gh-ribbon:after {
	content: "";
	position: relative;
	display: block;
	top: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon:before {
	content: "";
	position: relative;
	display: block;
	bottom: 8px;
	left: 0;
	width: 600px;
	border: 1px dashed rgba(255, 255, 255, 0.4);
}

// Place
.gh-ribbon.right {
	top: 15px;
	right: -285px; /* top - right = width / 2 */
	transform: rotate(45deg) translateY(100%);
}
// Colors
.gh-ribbon.red {
	background-color: $primary;
}
